<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" EnableUpperCase="AuthenticationOwin.Web">
	<Applications>
		<!-- Web -->
		<Application
			Name="AuthenticationOwin.Web"
			UseIISExpress="True"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="AuthenticationOwin.Web"
			Url="http://localhost/AuthenticationOwin.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="AuthenticationOwinEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v18.2, Version=18.2.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\AuthenticationOwin.Web" />
	</Aliases>
</Options>
